body {
    margin: 0;
    width: 100%;
    background-color: white;
}

.wrapper {
    margin: 0 7% 0 5%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

main {
    background-color: white;
}