html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
    background-color: white;
    position: relative;
}
.menu-expanded {
    width: 100%;
    height: 100%;
}

header {
    margin: 0 5% 0 5%;
    height: 100%;
    .intro {
        width: 100%;
        height: 80vh;
        @media screen and (max-height: 425px) {
            height: 15em;
        }
    }
}

a {
    text-decoration: none;
}

main {
    background-color: white;
}

#service {
    width: 100%;
    height: 95vh;
    @media screen and (max-height: 425px) {
        height: 35em;
    }
}

#jobs {
    width: 100%;
    height: 98vh;
    @media screen and (max-height: 540px) {
        height: 35em;
    }
}

#about {
    width: 100%;
    height: 95vh;
}

#contact {
    width: 100%;
    height: 80%;
}

footer {
    overflow: hidden;
}