html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
    background-color: white;
    position: relative;
}

header {
    margin: 0 5% 0 5%;
}

a {
    text-decoration: none;
}

main {
    background-color: white;
}

footer {
    overflow: hidden;
}