html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    background-color: white;
}

header {
    margin: 0 5% 0 5%;
    overflow: hidden;
}

section {
    padding: 1.5em 0 0 0;
}

a {
    text-decoration: none;
}

main {
    background-color: white;
}