html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  width: 100%;
  width: -webkit-fill-available;
  background-color: white;
  position: relative;
}
.menu-expanded {
  width: 100%;
  height: 100%;
}

header {
  margin: 0 5% 0 5%;
  .intro {
    width: 100%;
    width: -webkit-fill-available;
    height: 80vh;
    @media screen and (max-height: 425px) {
      height: 15em;
    }
  }
}

a {
  text-decoration: none;
}

main {
  background-color: white;
  section {
    position: relative;
    .section-title {
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      z-index: 99;
      background-color: rgba(48, 48, 48, 0.719);
      padding: 0.3em 0.3em 0.3em 5%;
      border-radius: 0 0.9em 0 0;
    }
  }
}

#service {
  width: 100%;
  width: -webkit-fill-available;
  height: 95vh;
  @media screen and (max-height: 500px) {
    height: 35em;
  }
}

#jobs {
  padding: 0;
  margin: 0;
  width: 100%;
  width: -webkit-fill-available;
  height: 98vh;
  @media screen and (max-height: 540px) {
    height: 45em;
  }
}

#about {
  width: 100%;
  width: -webkit-fill-available;
  height: 95vh;
}

#contact {
  width: 100%;
  width: -webkit-fill-available;
  height: 80%;
}

footer {
  overflow: hidden;
}
