html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
    background-color: white;
    position: relative;
}
.menu-expanded {
    width: 100%;
    height: 100%;
}

header {
    margin: 0 5% 0 5%;
    height: 100%;
    .intro {
        width: 100%;
        height: 80vh;
    }
}

a {
    text-decoration: none;
}

main {
    background-color: white;
}

#service {
    width: 100%;
    height: 95vh;
}

#jobs {
    width: 100%;
    height: 98vh;
}

#about {
    width: 100%;
    height: 95vh;
}

#contact {
    width: 100%;
    height: 80%;
}

footer {
    overflow: hidden;
}