body {
    margin: 0;
    width: 100%;
    background-color: white;
}

a {
    text-decoration: none;
	&:hover,
	&:focus,
	&:active {
      text-decoration: none;
      outline: 0;
  }
}

main {
    background-color: white;
}