section {
    position: relative;
    .section-title {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        z-index: 99;
        background-color: $color-darkgrey;
        padding: .3em .3em .3em 5%;
        border-top-right-radius: .9em;
        opacity: .7;
    }
}

#service {
    padding: 7em 0 10em 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    .grid {
        margin: 3.5em;
        max-width: 12em;
        transition: .4s ease-in-out;
        &:hover {
            transform: scale(1.4);
        }
        i {
            padding: .5em;
            color: $color-marine;
            background-color: $color-blue;
            border-radius: 50%;
        }
        .service-info {
            padding-top: 1em;
        }
    }
}

#jobs {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(to right, $color-blue, $color-marine);
    .job-img {
        width: 100%;
        height: 70vh;
        background-image: url('welders.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        filter: brightness(50%);
    }
    .job-text-wrap {
        align-self: center;
        position: relative;
        color: white;
        padding: 1.5em;
        margin: 0 2%;
        overflow: hidden;
        .fa-ul {
            li {
            padding: .5em;
            }
        }
    }
    .contact-btn {
        position: absolute;
        right: -3em;
        bottom: 5%;
        color: white;
        background-color: $color-marine;
        border-bottom-left-radius: 2em;
        padding: .7em 18% .7em 7%;
        letter-spacing: .14em;
    }
}

#about {
    position: relative;
    width: 100%;
    height: 100vh;
    .about-text-wrap {
        position: relative;
        top: 30%;
        background-color: rgba(128, 128, 128, 0.219);
        width: 80%;
        border-radius: 0 3em;
        margin: 0 auto;
        .about-text {
            padding: 1em 5%;
            color: $color-marine;
            text-shadow: 1px 1px 2px $color-darkgrey;
            .special-text {
                color: $color-blue;
            }
        }
    }
    .circles{
        position: absolute;
        top: -4.7em;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        li{
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(6, 133, 252, 0.493);
            animation: animate 25s linear infinite;
            bottom: -150px;
        }
    }
    
    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    
    
    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    
    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    
    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    
    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    
    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    
    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    
    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    
    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    
    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    
    
    
    @keyframes animate {
    
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 20%;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    
    }
}

#contact {
    background-color: yellow;
}