section {
    position: relative;
    .section-title {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        z-index: 99;
        background-color: $color-darkgrey;
        padding: .3em .3em .3em 5%;
        border-top-right-radius: .9em;
        opacity: .7;
    }
}

#service {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    .grid {
        transition: .4s ease-in-out;
        @media #{$break-xs} {
            width: 100%;
        }
        @media #{$break-s} {
            width: 100%;
        }
        @media #{$break-l} {
            max-width: 12em;
            margin: 5%;
        }
        @media #{$break-xxl} {
            max-width: 15em;
        }
        &:hover {
            @media #{$break-l} {
                transform: scale(1.4);
            }
        }
        i {
            padding: .5em;
            color: $color-blue;
            background-color: $color-marine;
            border-radius: 50%;
        }
        .service-info {
            padding-top: 1em;
            @media #{$break-xs} {
                margin: 0 12%;
            }
            @media #{$break-s} {
                margin: 0 25%;
            }
            @media #{$break-l} {
                margin: 0;
            }
        }
    }
}

#jobs {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(to right, $color-blue, $color-marine);
    .job-img {
        width: 100%;
        height: 100%;
        background-image: url('welders.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        filter: brightness(50%);
    }
    .job-text-wrap {
        align-self: center;
        position: relative;
        color: white;
        padding: 1.5em;
        margin: 0 2%;
        overflow: hidden;
        .fa-ul {
            li {
            padding: .5em;
            }
        }
    }
    .contact-btn {
        position: absolute;
        right: -3em;
        bottom: 5%;
        color: white;
        background-color: $color-marine;
        border-bottom-left-radius: 2em;
        padding: .7em 18% .7em 7%;
        letter-spacing: .14em;
        transition: color .4s ease;
        .fa-angle-double-right {
            padding-right: .5em;
            transition: all .4s ease;
        }
        &:hover {
            color: $color-blue;
            .fa-angle-double-right {
                transform: translateX(.5em);
                color: white;
            }
        }
    }
}

#about {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
    .about-text-wrap {
        background-color: $color-lightgrey;
        width: 80%;
        border-radius: 0 3em;
        border: 10px double $color-blue;
        .about-text {
            padding: 0 1em;
            color: $color-marine;
            text-shadow: 1px 1px 2px $color-darkgrey;
            .special-text {
                color: $color-blue;
            }
        }
    }
    .circles {
        position: absolute;
        top: -1em;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100%;
        li {
            position: absolute;
            display: block;
            list-style: none;
            background: rgba(0, 162, 255, 0.39);
            animation: animate 25s linear infinite;
            bottom: -200px;
            &:nth-child(1) {
                left: 25%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }
            &:nth-child(2) {
                left: 10%;
                width: 20px;
                height: 20px;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            &:nth-child(3) {
                left: 70%;
                width: 20px;
                height: 20px;
                animation-delay: 4s;
            }
            &:nth-child(4) {
                left: 40%;
                width: 60px;
                height: 60px;
                animation-delay: 0s;
                animation-duration: 18s;
            }
            &:nth-child(5) {
                left: 65%;
                width: 20px;
                height: 20px;
                animation-delay: 0s;
            }
            &:nth-child(6) {
                left: 75%;
                width: 100px;
                height: 100px;
                animation-delay: 3s;
            }
            &:nth-child(7) {
                left: 35%;
                width: 110px;
                height: 110px;
                animation-delay: 7s;
            }
            &:nth-child(8) {
                left: 50%;
                width: 25px;
                height: 25px;
                animation-delay: 15s;
                animation-duration: 45s;
            }
            &:nth-child(9) {
                left: 20%;
                width: 15px;
                height: 15px;
                animation-delay: 2s;
                animation-duration: 35s;
            }
            &:nth-child(10) {
                left: 85%;
                width: 100px;
                height: 100px;
                animation-delay: 0s;
                animation-duration: 11s;
            }
        } 
        @keyframes animate {
            0% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
                border-radius: 20%;
            }
            100% {
                transform: translateY(-1000px) rotate(720deg);
                opacity: 0;
                border-radius: 50%;
            }
        }
    }
}

#contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 70%;
    padding-bottom: 1em;
    background-image: linear-gradient(to bottom, $color-lightgrey, $color-darkgrey);
    .contact-form {
        width: 100%;
        padding: 10% 10% 2% 10%;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        .label {
            display: block;
            margin: 0 1em;
            color: white;
        }
        .input-text {
            padding: .5em;
            margin-bottom: 2em;
            box-shadow : none;
            background: none;
            border-width: 0 6px 6px 6px;
            border-style: solid;
            border-color: white;
            border-radius: 1em;
            color: $color-marine;
            outline: 0;
            &:focus, 
            &:active {
                border-color: $color-blue;
            }
        }
        .input-wrap {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            .name-wrap, .email-wrap {
                margin-right: 1em;
            }
        }
        #message {
            overflow: auto;
            resize: none;
            width: 100%;
        }
        #file {
            width: 100%;
        }
        .submit-wrap {
            width: 100%;
            display: flex;
            justify-content: center;
            .submit-btn {
                background-color: $color-marine;
                border: none;
                padding: .8em 3em;
                border-radius: 0 1.5em;
                color: white;
                transition: all .4s ease;
                &:hover {
                    transform: scale(1.2);
                }
                &:focus, 
                &:active {
                    color: $color-blue;
                }
            }
        }
    }
    .google-phone {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-flow: row wrap;
        margin: 1em;
        .call-us {
            color: white;
            padding-right: .5em;
            margin: 0;
            @media #{$break-xs} {
                width: 100%;
            }
            @media #{$break-s} {
                width: 100%;
            }
            @media #{$break-l} {
                width: auto;
            }
            
        }
        .bottom-phone {
            color: white;
            display: block;
            margin: 0;
            transition: all .5s ease;
            &:hover {
                color: $color-marine;
                background-color: white;
                padding: 0 1em;
                border-radius: 0 1.5em;
            }
            &:focus, 
            &:active {
                color: $color-blue;
            }
        }
        .fa-phone {
            padding-left: .5em;
            color: $color-blue;
            display: block;
            margin: 0 .4em;
            border: 1px solid white;
            padding: .3em;
            border-radius: 50%;
        }
    }
}