section {
    position: relative;
    .section-title {
        position: absolute;
        bottom: -.8em;
        left: 0;
        color: $color-blue;
        z-index: 99;
        opacity: .4;
    }
}

#service {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    .grid {
        margin: 3.5em;
        max-width: 13em;
        i {
            padding: .5em;
            color: $color-marine;
            background-color: $color-blue;
            border-radius: 50%;
        }
        .service-info {
            padding-top: 1em;
        }
    }
}

#jobs {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-image: linear-gradient(to right, $color-blue, $color-marine);
    .job-img {
        width: 50%;
        height: 30em;
        background-image: url('welders.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: brightness(50%);
    }
    .text-wrap {
        align-self: center;
        color: white;
        max-width: 40em;
        margin: 2em;
    }
}

#about {
    background-color: red;
}

#contact {
    background-color: yellow;
}