// font-family
$font-body: 'Montserrat', sans-serif;
$font-headings: 'Prata', serif;

// font-weight
$fw-normal: 400;
$fw-medium: 600;
$fw-bold: 700;

// font-size
$fs-xxs: .8em;
$fs-xs: 1em;
$fs-s: 1.5em;
$fs-m: 2em;
$fs-xm: 3.5em;
$fs-l: 5.5em;
$fs-xl: 6em;
$fs-xxl: 6.5em;

header {
    .nav-link {
        font-family: $font-body;
        font-weight: $fw-medium;
        font-size: $fs-xxs;
        @media #{$break-xl} {
            font-size: $fs-s;
        }
    }
    h1 {
        font-family: $font-headings;
        @media #{$break-xs} {
            font-size: $fs-s;
        }
        @media #{$break-s} {
            font-size: $fs-m;
        }
        @media #{$break-m} {
            font-size: $fs-xm;
        }
        @media #{$break-l} {
            font-size: $fs-xm;
        }
        @media #{$break-xl} {
            font-size: $fs-l;
        }
    }
    .and-sign {
        font-size: 200%;
        font-style: italic;
    }
    .phone-us {
        font-size: $fs-m;
        .top-phone {
            font-family: $font-body;
        }
    }
}

section {
    .section-title {
        font-family: $font-headings;
        font-size: $fs-m;
        font-weight: $fw-bold;
        letter-spacing: .15em;
    }
}

#service {
    .grid {
        text-align: center;
        i {
            font-size: $fs-l;
            font-style: normal;
        }
        .service-info {
            font-size: $fs-xs;
            font-family: $font-body;
            font-weight: $fw-medium;
        }
    }
}

#jobs {
    .job-text-wrap {
        font-family: $font-body;
        font-size: $fs-xs;
        .job-info {
            font-weight: $fw-bold;
            font-size: $fs-s;
        }
    }
    .contact-btn {
        font-family: $font-body;
        font-weight: $fw-bold;
        font-size: $fs-s;
    }
}

#about {
    .about-text {
        font-family: $font-headings;
        font-weight: $fw-medium;
        font-size: $fs-xm;
    }
}

#contact {
    .contact-form {
        .label {
            font-family: $font-body;
            font-size: $fs-s;
            font-weight: $fw-bold;
        }
        .input-text {
            font-family: $font-body;
            font-size: $fs-s;
        }
        .submit-btn {
            font-family: $font-body;
            font-size: $fs-s;
            font-weight: $fw-bold;
        }
    }
    .google-phone {
        font-family: $font-headings;
        font-size: $fs-m;
    }
    
}

footer {
    font-family: $font-body;
    font-weight: $fw-bold;
}