// font-family
$font-body: 'Josefin Sans', sans-serif;
$font-headings: 'Prata', serif;

// font-weight
$normal: 400;
$bold: 700;

// font-size
$small: 1em;
$medium: 2em;
$large: 5.5em;

h1 {
    font-family: $font-headings;
    font-size: $large;
}

h2 {
    font-family: $font-body;
    font-size: $medium;
}

.nav-link {
    font-family: $font-headings;
    font-size: $medium;
}