// font-family
$font-body: 'Open Sans', sans-serif;
$font-headings: 'Prata', serif;

// font-weight
$fw-normal: 400;
$fw-medium: 600;
$fw-bold: 700;

// font-size
$fs-xs: 1em;
$fs-s: 1.5em;
$fs-m: 2em;
$fs-xm: 3.5em;
$fs-l: 5.5em;
$fs-xl: 6em;
$fs-xxl: 6.5em;

header {
    h1 {
        font-family: $font-headings;
        @media #{$break-xs} {
            font-size: $fs-s;
        }
        @media #{$break-s} {
            font-size: $fs-m;
        }
        @media #{$break-m} {
            font-size: $fs-xm;
        }
        @media #{$break-l} {
            font-size: $fs-xm;
        }
        @media #{$break-xl} {
            font-size: $fs-l;
        }
    }
    
    .nav-link {
        font-family: $font-body;
        font-weight: $fw-medium;
        font-size: $fs-xs;
        @media #{$break-xl} {
            font-size: $fs-s;
        }
    }
    
    .and-sign {
        font-size: 200%;
        font-style: italic;
    }
}

#service {
    .grid {
        text-align: center;
        i {
            font-size: $fs-l;
            font-style: normal;
        }
        .service-info {
            font-size: $fs-xs;
            font-family: $font-body;
            line-height: 1.7em;
            font-weight: $fw-medium;
        }
    }
    
}
