footer {
    background-color: $color-darkgrey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    .author {
        padding: 1em 3em 1em 3em;
        margin: 0;
        text-align: right;
        background-color: $color-marine;
        border-radius: 2em 0 0 0;
        color: white;
        .author-name {
            color: white;
            transition: all .4s ease;
            &:hover,
            &:focus, 
            &:active {
                color: $color-blue;
            }
        }
    }
}