header {
    height: 100vh;
    .nav-top {
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 1.5em 0;
            .nav-logo {
                max-width: 15em;
                height: auto;
            }
            .nav-item {
                .nav-link {
                    color: $color-darkgrey;
                    transition: all .5s ease;
                    padding: .5em 1em;
                    &:hover {
                        color: white;
                        background-color: $color-marine;
                        padding: .5 1.5em;
                        border-radius: 0 1.5em;
                    }
                    &:focus, 
                    &:active {
                        color: $color-blue;
                    }
                }
            }
        }
    }
    .intro {
        position: relative;
        width: 100%;
        height: 80%;
        background-image: url('vatten.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 5em;
        margin-bottom: 1.5em;
        .intro-wrap {
            position: relative;
            bottom: -50%;
            padding: 2em;
            margin-left: 4em;
            .h1-1 {
                position: relative;
                margin: 0;
                padding: 0;
                color: white;
                text-shadow: 1px 1px 20px black;
                .and-sign {
                    position: absolute;
                    top: -.22em;
                    left: 3.45em;
                    color: $color-blue;
                }
                .h1-2 {
                    position: absolute;
                    top: 1em;
                    left: 3.75em;
                }
            }
        } 
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 25em;
            height: 14%;
            background-color: $color-marine;
            border-radius: 0 0 0 5em;
        }
        .phone-us {
            position: absolute;
            right: 1.5em;
            bottom: .7em;
            transition: all .4s ease;
            &:hover {
                transform: scale(1.15);
            }
            .top-phone {
                color: white;
                transition: all .4s ease;
                &:hover {
                    padding-bottom: .2em;
                    border-bottom: 1px dashed white;
                }
                &:focus, 
                &:active {
                    color: $color-blue;
                }
            }
            .fa-phone {
                margin-left: .4em;
                color: $color-blue;
                border: 1px solid white;
                padding: .3em;
                border-radius: 50%;
            }
        }
    }
}