.menu-expanded {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.952);
  transition: all 0.4s ease;
  display: none;
  ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 7em 10%;
    padding: 0;
    li {
      padding: 1em;
      .expand-link {
        color: white;
        transition: all 0.4s ease;
        &:hover,
        &:active,
        &:focus {
          color: $color-blue;
        }
      }
    }
  }
}

header {
  .nav-top {
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin: 0;
      @media #{$break-xs} {
        padding: 0.5em 0;
      }
      @media #{$break-s} {
        padding: 0.5em 0;
      }
      @media #{$break-m} {
        padding: 1.5em 0;
      }
      .nav-logo {
        height: auto;
        @media #{$break-xs} {
          max-width: 11em;
        }
        @media #{$break-s} {
          max-width: 12em;
        }
        @media #{$break-m} {
          max-width: 15em;
        }
      }
      .nav-item {
        display: none;
        @media #{$break-m} {
          display: none;
        }
        @media #{$break-l} {
          display: block;
        }
        .nav-link {
          color: $color-darkgrey;
          transition: all 0.5s ease;
          padding: 0.5em 1em;
          &:hover {
            color: white;
            background-color: $color-marine;
            border-radius: 0 1.5em;
          }
          &:focus,
          &:active {
            color: $color-blue;
          }
        }
      }
      .toggle-menu {
        z-index: 101;
        .toggle-bars {
          color: $color-blue;
          padding: 0.5em;
          border: none;
          background: none;
          cursor: pointer;
          @media #{$break-xs} {
            display: block;
          }
          @media #{$break-m} {
            display: block;
          }
          @media #{$break-l} {
            display: none;
          }
        }
      }
    }
  }
  .intro {
    display: flex;
    align-items: center;
    position: relative;
    background-image: url('vatten.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    border-radius: 0 5em;
    margin-bottom: 1.5em;
    overflow: hidden;
    .intro-wrap {
      position: relative;

      @media #{$break-xs} {
        margin-left: 1em;
      }
      @media #{$break-s} {
        margin-left: 1em;
      }
      @media #{$break-m} {
        margin-left: 1em;
      }
      @media #{$break-l} {
        margin-left: 4em;
      }
      @media screen and (max-height: 425px) {
        top: 30%;
      }
      .h1-1 {
        position: relative;
        margin: 0;
        padding: 0;
        color: white;
        text-shadow: 1px 1px 20px black;
        .and-sign {
          position: relative;
          top: 0.3em;
          left: -0.1em;
          margin: 0;
          padding: 0;
          color: $color-blue;
        }
        .h1-2 {
          position: absolute;
          top: 2em;
          left: 3.75em;
        }
      }
    }
    .phone-us {
      background-color: $color-marine;
      border-radius: 0 0 0 5em;
      transition: all 0.4s ease;
      position: absolute;
      right: 0;
      bottom: 0;
      width: -webkit-fill-available;
      @media #{$break-xs} {
        padding: 0.5em 0 0.5em 35%;
      }
      @media screen and (max-height: 425px) {
        padding: 0.5em 0 0.5em 35%;
      }
      @media #{$break-s} {
        width: auto;
        padding: 0.5em 1em 0.5em 2em;
      }
      @media #{$break-l} {
        padding: 0.5em 2em 0.5em 3em;
        &:hover {
          padding: 0.5em 4em 0.5em 3em;
        }
      }
      .top-phone {
        color: white;
        transition: all 0.4s ease;
        &:hover {
          padding-bottom: 0.18em;
          border-bottom: 1px dashed white;
        }
        &:focus,
        &:active {
          color: $color-blue;
        }
      }
      .fa-phone {
        margin-left: 0.4em;
        color: $color-blue;
        border: 1px solid white;
        padding: 0.3em;
        border-radius: 50%;
      }
    }
  }
}
