header {
    .nav-top {
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 1.5em 0;
            li {
                position: relative;
                .nav-logo {
                    max-width: 18em;
                    height: auto;
                }
                a {
                    color: $color-darkgrey;
                    transition: .4s ease-in-out;
                    &:hover {
                        color: $color-blue;
                    }
                }
            } 
        }
    }
    .intro {
        position: relative;
        width: 100%;
        height: 35em;
        background-image: url('vatten.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 3em;
        margin-bottom: 1.5em;
        .intro-wrap {
            position: relative;
            bottom: -17em;
            padding: 2em;
            margin-left: 4em;
            .h1-1 {
                position: relative;
                margin: 0;
                padding: 0;
                color: white;
                text-shadow: 1px 1px 20px black;
                .and-sign {
                    position: absolute;
                    top: -.22em;
                    left: 3.45em;
                    color: $color-blue;
                }
                .h1-2 {
                    position: absolute;
                    top: 1em;
                    left: 3.75em;
                }
            }
        } 
    }
}