#jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($color-blue),
    to($color-marine)
  );
  background-image: linear-gradient(to right, $color-blue, $color-marine);
  overflow: hidden;
  .job-img {
    width: 100%;
    width: -webkit-fill-available;
    background-image: url('welders.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    background-position: left;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
  }
  .job-text-wrap {
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    color: white;
    padding: 1.5em;
    .fa-ul {
      li {
        padding: 0.5em;
      }
    }
    .contact-btn {
      position: absolute;
      right: 0;
      bottom: -2.5em;
      color: white;
      background-color: $color-marine;
      border-bottom-left-radius: 2em;
      padding: 0.7em 6em 0.7em 2em;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      .fa-angle-double-right {
        padding-right: 0.5em;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
      &:hover {
        -webkit-box-shadow: 0 0 10px white;
        box-shadow: 0 0 10px white;
        .fa-angle-double-right {
          -webkit-transform: translateX(0.5em);
          transform: translateX(0.5em);
          color: white;
        }
      }
      &:focus,
      &:active {
        color: $color-blue;
      }
    }
  }
}
