#service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  .grid {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    @media #{$break-xs} {
      width: 100%;
      width: -webkit-fill-available;
    }
    @media #{$break-s} {
      width: 100%;
      width: -webkit-fill-available;
    }
    @media #{$break-m} {
      max-width: 10em;
      margin: 3%;
    }
    @media #{$break-l} {
      max-width: 12em;
      margin: 5%;
    }
    @media #{$break-xxl} {
      max-width: 15em;
    }
    &:hover {
      @media #{$break-l} {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
      }
    }
    i {
      padding: 0.5em;
      color: $color-blue;
      background-color: $color-marine;
      border-radius: 50%;
    }
    .service-info {
      padding-top: 1em;
      @media #{$break-xs} {
        margin: 0 12%;
      }
      @media #{$break-s} {
        margin: 0 30%;
      }
      @media #{$break-m} {
        margin: 0;
      }
      @media screen and (max-height: 500px) {
        padding: 1em;
      }
    }
  }
}
