// media query
//$breakpoint: "only screen and (min-width : 426px)";

// font
$font-body: '', sans-serif;
$font-headings: '', sans-serif;

// font weight
$normal: 400;
$bold: 700;

// colors
$color-blue: rgb(62, 27, 219);