// media-breaks
$break-xs: "only screen and (max-width : 424px)";
$break-s: "only screen and (min-width : 500px)";
$break-m: "only screen and (min-width : 650px)";
$break-l: "only screen and (min-width : 1024px)";
$break-xl: "only screen and (min-width : 1440px)";
$break-xxl: "only screen and (min-width : 2560px)";

// colors
$color-blue: rgb(0, 171, 223);
$color-darkgrey: rgb(48, 48, 48);
$color-marine: rgb(0, 42, 77);