.menu-expanded {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

header .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media only screen and (min-width : 1024px) {
  header .nav-link {
    font-size: 1em;
  }
}
@media only screen and (min-width : 1440px) {
  header .nav-link {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 2560px) {
  header .nav-link {
    font-size: 2em;
  }
}
header .toggle-bars {
  font-size: 2em;
}
header h1 {
  font-family: "Prata", serif;
}
@media only screen and (max-width : 425px) {
  header h1 {
    font-size: 1.7em;
  }
}
@media only screen and (min-width : 426px) {
  header h1 {
    font-size: 2.4em;
  }
}
@media only screen and (min-width : 650px) {
  header h1 {
    font-size: 3.5em;
  }
}
@media only screen and (min-width : 1440px) {
  header h1 {
    font-size: 5.5em;
  }
}
@media only screen and (min-width : 2560px) {
  header h1 {
    font-size: 8em;
  }
}
header .and-sign {
  font-size: 200%;
  font-style: italic;
}
@media only screen and (max-width : 425px) {
  header .phone-us {
    font-size: 1.3em;
  }
}
@media only screen and (min-width : 426px) {
  header .phone-us {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 650px) {
  header .phone-us {
    font-size: 2em;
  }
}
@media only screen and (min-width : 2560px) {
  header .phone-us {
    font-size: 3.5em;
  }
}
header .phone-us .top-phone {
  font-family: "Montserrat", sans-serif;
}

section .section-title {
  font-family: "Prata", serif;
  font-weight: 700;
  letter-spacing: 0.15em;
}
@media only screen and (max-width : 425px) {
  section .section-title {
    font-size: 1em;
  }
}
@media only screen and (min-width : 426px) {
  section .section-title {
    font-size: 1em;
  }
}
@media only screen and (min-width : 1024px) {
  section .section-title {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 2560px) {
  section .section-title {
    font-size: 2em;
  }
}

#service .grid {
  text-align: center;
}
@media only screen and (max-width : 425px) {
  #service .grid i {
    font-size: 2.5em;
  }
}
@media only screen and (min-width : 426px) {
  #service .grid i {
    font-size: 3em;
  }
}
@media only screen and (min-width : 650px) {
  #service .grid i {
    font-size: 3.5em;
  }
}
@media only screen and (min-width : 1024px) {
  #service .grid i {
    font-size: 5.5em;
  }
}
#service .grid .service-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media only screen and (max-width : 425px) {
  #service .grid .service-info {
    font-size: 0.8em;
  }
}
@media only screen and (min-width : 426px) {
  #service .grid .service-info {
    font-size: 0.8em;
  }
}
@media only screen and (min-width : 650px) {
  #service .grid .service-info {
    font-size: 1em;
  }
}
@media only screen and (min-width : 2560px) {
  #service .grid .service-info {
    font-size: 1.5em;
  }
}

#jobs .job-text-wrap {
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width : 425px) {
  #jobs .job-text-wrap {
    font-size: 0.8em;
  }
}
@media only screen and (min-width : 426px) {
  #jobs .job-text-wrap {
    font-size: 0.8em;
  }
}
@media only screen and (min-width : 650px) {
  #jobs .job-text-wrap {
    font-size: 1em;
  }
}
@media only screen and (min-width : 2560px) {
  #jobs .job-text-wrap {
    font-size: 1.5em;
  }
}
#jobs .job-text-wrap .job-info {
  font-weight: 700;
}
@media only screen and (max-width : 425px) {
  #jobs .job-text-wrap .job-info {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 426px) {
  #jobs .job-text-wrap .job-info {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 2560px) {
  #jobs .job-text-wrap .job-info {
    font-size: 2em;
  }
}
#jobs .contact-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@media only screen and (max-width : 425px) {
  #jobs .contact-btn {
    font-size: 1em;
  }
}
@media only screen and (min-width : 426px) {
  #jobs .contact-btn {
    font-size: 1em;
  }
}
@media only screen and (min-width : 650px) {
  #jobs .contact-btn {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 2560px) {
  #jobs .contact-btn {
    font-size: 2em;
  }
}

#about .about-text {
  font-family: "Prata", serif;
  font-weight: 600;
}
@media only screen and (max-width : 425px) {
  #about .about-text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 426px) {
  #about .about-text {
    font-size: 2em;
  }
}
@media only screen and (min-width : 1024px) {
  #about .about-text {
    font-size: 3.5em;
  }
}
@media only screen and (min-width : 2560px) {
  #about .about-text {
    font-size: 6em;
  }
}

#contact .contact-form .label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@media only screen and (max-width : 425px) {
  #contact .contact-form .label {
    font-size: 1em;
  }
}
@media only screen and (min-width : 426px) {
  #contact .contact-form .label {
    font-size: 1em;
  }
}
@media only screen and (min-width : 650px) {
  #contact .contact-form .label {
    font-size: 1.5em;
  }
}
#contact .contact-form .input-text {
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width : 425px) {
  #contact .contact-form .input-text {
    font-size: 1em;
  }
}
@media only screen and (min-width : 426px) {
  #contact .contact-form .input-text {
    font-size: 1em;
  }
}
@media only screen and (min-width : 650px) {
  #contact .contact-form .input-text {
    font-size: 1.5em;
  }
}
#contact .contact-form .submit-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@media only screen and (max-width : 425px) {
  #contact .contact-form .submit-btn {
    font-size: 1em;
  }
}
@media only screen and (min-width : 426px) {
  #contact .contact-form .submit-btn {
    font-size: 1em;
  }
}
@media only screen and (min-width : 650px) {
  #contact .contact-form .submit-btn {
    font-size: 1.5em;
  }
}
#contact .google-phone {
  font-family: "Prata", serif;
}
@media only screen and (max-width : 425px) {
  #contact .google-phone .call-us {
    font-size: 1em;
  }
}
@media only screen and (min-width : 426px) {
  #contact .google-phone .call-us {
    font-size: 1em;
  }
}
@media only screen and (min-width : 650px) {
  #contact .google-phone .call-us {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 1024px) {
  #contact .google-phone .call-us {
    font-size: 2em;
  }
}
@media only screen and (min-width : 2560px) {
  #contact .google-phone .call-us {
    font-size: 3.5em;
  }
}
@media only screen and (max-width : 425px) {
  #contact .google-phone .bottom-phone,
#contact .google-phone .fa-phone {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 426px) {
  #contact .google-phone .bottom-phone,
#contact .google-phone .fa-phone {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 650px) {
  #contact .google-phone .bottom-phone,
#contact .google-phone .fa-phone {
    font-size: 2em;
  }
}
@media only screen and (min-width : 2560px) {
  #contact .google-phone .bottom-phone,
#contact .google-phone .fa-phone {
    font-size: 3.5em;
  }
}

footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@media only screen and (max-width : 425px) {
  footer {
    font-size: 0.8em;
  }
}
@media only screen and (min-width : 426px) {
  footer {
    font-size: 0.8em;
  }
}
@media only screen and (min-width : 650px) {
  footer {
    font-size: 1em;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  background-color: white;
  position: relative;
}

.menu-expanded {
  width: 100%;
  height: 100%;
}

header {
  margin: 0 5% 0 5%;
  height: 100%;
}
header .intro {
  width: 100%;
  height: 80vh;
}
@media screen and (max-height: 425px) {
  header .intro {
    height: 60vh;
  }
}

a {
  text-decoration: none;
}

main {
  background-color: white;
}

#service {
  width: 100%;
  height: 95vh;
}
@media screen and (max-height: 425px) {
  #service {
    height: 100%;
  }
}

#jobs {
  width: 100%;
  height: 98vh;
}

#about {
  width: 100%;
  height: 95vh;
}

#contact {
  width: 100%;
  height: 80%;
}

footer {
  overflow: hidden;
}

.menu-expanded {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.952);
  transition: all 0.4s ease;
  display: none;
}
.menu-expanded ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 7em 10%;
  padding: 0;
}
.menu-expanded ul li {
  padding: 1em;
}
.menu-expanded ul li .expand-link {
  color: white;
  transition: all 0.4s ease;
}
.menu-expanded ul li .expand-link:hover, .menu-expanded ul li .expand-link:active, .menu-expanded ul li .expand-link:focus {
  color: #00abdf;
}

header .nav-top ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
}
@media only screen and (max-width : 425px) {
  header .nav-top ul {
    padding: 0.5em 0;
  }
}
@media only screen and (min-width : 426px) {
  header .nav-top ul {
    padding: 0.5em 0;
  }
}
@media only screen and (min-width : 650px) {
  header .nav-top ul {
    padding: 1.5em 0;
  }
}
header .nav-top ul .nav-logo {
  height: auto;
}
@media only screen and (max-width : 425px) {
  header .nav-top ul .nav-logo {
    max-width: 11em;
  }
}
@media only screen and (min-width : 426px) {
  header .nav-top ul .nav-logo {
    max-width: 12em;
  }
}
@media only screen and (min-width : 650px) {
  header .nav-top ul .nav-logo {
    max-width: 15em;
  }
}
header .nav-top ul .nav-item {
  display: none;
}
@media only screen and (min-width : 650px) {
  header .nav-top ul .nav-item {
    display: none;
  }
}
@media only screen and (min-width : 1024px) {
  header .nav-top ul .nav-item {
    display: block;
  }
}
header .nav-top ul .nav-item .nav-link {
  color: #303030;
  transition: all 0.5s ease;
  padding: 0.5em 1em;
}
header .nav-top ul .nav-item .nav-link:hover {
  color: white;
  background-color: #002a4d;
  padding: 0.5 1.5em;
  border-radius: 0 1.5em;
}
header .nav-top ul .nav-item .nav-link:focus, header .nav-top ul .nav-item .nav-link:active {
  color: #00abdf;
}
header .nav-top ul .toggle-menu {
  z-index: 101;
}
header .nav-top ul .toggle-menu .toggle-bars {
  color: #00abdf;
  padding: 0.5em;
  border: none;
  background: none;
  cursor: pointer;
}
@media only screen and (max-width : 425px) {
  header .nav-top ul .toggle-menu .toggle-bars {
    display: block;
  }
}
@media only screen and (min-width : 650px) {
  header .nav-top ul .toggle-menu .toggle-bars {
    display: block;
  }
}
@media only screen and (min-width : 1024px) {
  header .nav-top ul .toggle-menu .toggle-bars {
    display: none;
  }
}
header .intro {
  position: relative;
  background-image: url("vatten.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 5em;
  margin-bottom: 1.5em;
  overflow: hidden;
}
header .intro .intro-wrap {
  z-index: 2;
  position: absolute;
  top: 40%;
  margin-left: 1em;
}
@media only screen and (max-width : 425px) {
  header .intro .intro-wrap {
    padding: 0.5em;
  }
}
@media only screen and (min-width : 426px) {
  header .intro .intro-wrap {
    padding: 0.5em;
  }
}
@media only screen and (min-width : 650px) {
  header .intro .intro-wrap {
    padding: 1em;
  }
}
@media only screen and (min-width : 1024px) {
  header .intro .intro-wrap {
    padding: 2em;
    margin-left: 4em;
  }
}
@media screen and (max-height: 425px) {
  header .intro .intro-wrap {
    top: 10%;
  }
}
header .intro .intro-wrap .h1-1 {
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 20px black;
}
header .intro .intro-wrap .h1-1 .and-sign {
  position: absolute;
  top: -0.22em;
  left: 3.45em;
  color: #00abdf;
}
header .intro .intro-wrap .h1-1 .h1-2 {
  position: absolute;
  top: 1em;
  left: 3.75em;
}
header .intro .phone-us {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #002a4d;
  border-radius: 0 0 0 5em;
  transition: all 0.4s ease;
}
@media only screen and (max-width : 425px) {
  header .intro .phone-us {
    padding: 0.5em 1em 0.5em 4.5em;
  }
}
@media only screen and (min-width : 426px) {
  header .intro .phone-us {
    padding: 0.5em 1em 0.5em 2em;
  }
}
@media only screen and (min-width : 650px) {
  header .intro .phone-us {
    padding: 0.5em 1em 0.5em 2em;
  }
}
@media only screen and (min-width : 1024px) {
  header .intro .phone-us {
    padding: 0.5em 2em 0.5em 3em;
  }
  header .intro .phone-us:hover {
    padding: 0.5em 4em 0.5em 3em;
  }
}
header .intro .phone-us .top-phone {
  color: white;
  transition: all 0.4s ease;
}
header .intro .phone-us .top-phone:hover {
  padding-bottom: 0.18em;
  border-bottom: 1px dashed white;
}
header .intro .phone-us .top-phone:focus, header .intro .phone-us .top-phone:active {
  color: #00abdf;
}
header .intro .phone-us .fa-phone {
  margin-left: 0.4em;
  color: #00abdf;
  border: 1px solid white;
  padding: 0.3em;
  border-radius: 50%;
}

section {
  position: relative;
}
section .section-title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 99;
  background-color: rgba(48, 48, 48, 0.719);
  padding: 0.3em 0.3em 0.3em 5%;
  border-top-right-radius: 0.9em;
}

#service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
#service .grid {
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width : 425px) {
  #service .grid {
    width: 100%;
  }
}
@media only screen and (min-width : 426px) {
  #service .grid {
    width: 100%;
  }
}
@media only screen and (min-width : 650px) {
  #service .grid {
    max-width: 10em;
    margin: 3%;
  }
}
@media only screen and (min-width : 1024px) {
  #service .grid {
    max-width: 12em;
    margin: 5%;
  }
}
@media only screen and (min-width : 2560px) {
  #service .grid {
    max-width: 15em;
  }
}
@media only screen and (min-width : 1024px) {
  #service .grid:hover {
    transform: scale(1.4);
  }
}
#service .grid i {
  padding: 0.5em;
  color: #00abdf;
  background-color: #002a4d;
  border-radius: 50%;
}
#service .grid .service-info {
  padding-top: 1em;
}
@media only screen and (max-width : 425px) {
  #service .grid .service-info {
    margin: 0 12%;
  }
}
@media only screen and (min-width : 426px) {
  #service .grid .service-info {
    margin: 0 30%;
  }
}
@media only screen and (min-width : 650px) {
  #service .grid .service-info {
    margin: 0;
  }
}
@media screen and (max-height: 500px) {
  #service .grid .service-info {
    padding: 0.5em;
  }
}

#jobs {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(to right, #00abdf, #002a4d);
}
#jobs .job-img {
  width: 100%;
  height: 100%;
  background-image: url("welders.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  filter: brightness(50%);
}
#jobs .job-text-wrap {
  align-self: center;
  position: relative;
  color: white;
  padding: 1.5em;
  margin: 0 2%;
  overflow: hidden;
}
#jobs .job-text-wrap .fa-ul li {
  padding: 0.5em;
}
#jobs .contact-btn {
  position: absolute;
  right: -3em;
  bottom: 5%;
  color: white;
  background-color: #002a4d;
  border-bottom-left-radius: 2em;
  padding: 0.7em 18% 0.7em 7%;
  transition: color 0.4s ease;
}
#jobs .contact-btn .fa-angle-double-right {
  padding-right: 0.5em;
  transition: all 0.4s ease;
}
#jobs .contact-btn:hover {
  color: #00abdf;
}
#jobs .contact-btn:hover .fa-angle-double-right {
  transform: translateX(0.5em);
  color: white;
}

#about {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
}
#about .about-text-wrap {
  background-color: rgba(128, 128, 128, 0.219);
  width: 80%;
  border-radius: 0 3em;
  border: 10px double #00abdf;
}
#about .about-text-wrap .about-text {
  padding: 0 1em;
  color: #002a4d;
  text-shadow: 1px 1px 2px #303030;
}
#about .about-text-wrap .about-text .special-text {
  color: #00abdf;
}
#about .circles {
  position: absolute;
  top: -1em;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
}
#about .circles li {
  position: absolute;
  display: block;
  list-style: none;
  background: rgba(0, 162, 255, 0.39);
  animation: animate 25s linear infinite;
  bottom: -200px;
}
#about .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#about .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#about .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#about .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#about .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#about .circles li:nth-child(6) {
  left: 75%;
  width: 100px;
  height: 100px;
  animation-delay: 3s;
}
#about .circles li:nth-child(7) {
  left: 35%;
  width: 110px;
  height: 110px;
  animation-delay: 7s;
}
#about .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
#about .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
#about .circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 20%;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

#contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 1em;
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.219), #303030);
}
#contact .contact-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
@media only screen and (max-width : 425px) {
  #contact .contact-form {
    padding: 18% 10% 2% 10%;
  }
}
@media only screen and (min-width : 426px) {
  #contact .contact-form {
    padding: 15% 10% 2% 10%;
  }
}
@media only screen and (min-width : 650px) {
  #contact .contact-form {
    padding: 10% 10% 2% 10%;
  }
}
#contact .contact-form .label {
  display: block;
  margin: 0 1em;
  color: white;
}
#contact .contact-form .input-text {
  padding: 0.5em;
  box-shadow: none;
  background: none;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: white;
  border-radius: 1em;
  color: #002a4d;
  outline: 0;
}
@media only screen and (max-width : 425px) {
  #contact .contact-form .input-text {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width : 426px) {
  #contact .contact-form .input-text {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width : 650px) {
  #contact .contact-form .input-text {
    margin-bottom: 2em;
  }
}
#contact .contact-form .input-text:focus, #contact .contact-form .input-text:active {
  border-color: #00abdf;
}
#contact .contact-form .input-wrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#contact .contact-form .input-wrap .name-wrap, #contact .contact-form .input-wrap .email-wrap {
  margin-right: 1em;
}
#contact .contact-form #message {
  overflow: auto;
  resize: none;
  width: 100%;
}
#contact .contact-form #file {
  width: 80%;
}
#contact .contact-form .submit-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
#contact .contact-form .submit-wrap .submit-btn {
  background-color: #002a4d;
  border: none;
  padding: 0.8em 3em;
  border-radius: 0 1.5em;
  color: white;
  transition: all 0.4s ease;
}
#contact .contact-form .submit-wrap .submit-btn:hover {
  transform: scale(1.2);
}
#contact .contact-form .submit-wrap .submit-btn:focus, #contact .contact-form .submit-wrap .submit-btn:active {
  color: #00abdf;
}
#contact .google-phone {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
  margin: 1em;
}
#contact .google-phone .call-us {
  color: white;
  padding-right: 0.5em;
  margin: 0;
}
@media only screen and (max-width : 425px) {
  #contact .google-phone .call-us {
    width: 100%;
  }
}
@media only screen and (min-width : 426px) {
  #contact .google-phone .call-us {
    width: 100%;
  }
}
@media only screen and (min-width : 1024px) {
  #contact .google-phone .call-us {
    width: auto;
  }
}
#contact .google-phone .bottom-phone {
  color: white;
  display: block;
  margin: 0;
  transition: all 0.5s ease;
}
#contact .google-phone .bottom-phone:hover {
  color: #002a4d;
  background-color: white;
  padding: 0 1em;
  border-radius: 0 1.5em;
}
#contact .google-phone .bottom-phone:focus, #contact .google-phone .bottom-phone:active {
  color: #00abdf;
}
#contact .google-phone .fa-phone {
  padding-left: 0.5em;
  color: #00abdf;
  display: block;
  margin: 0 0.4em;
  border: 1px solid white;
  padding: 0.3em;
  border-radius: 50%;
}

footer {
  background-color: #303030;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
footer .author {
  padding: 1em 4em 1em 3em;
  margin: 0;
  text-align: right;
  background-color: #002a4d;
  border-radius: 2em 0 0 0;
  color: white;
}
footer .author .author-name {
  color: white;
  transition: all 0.4s ease;
}
footer .author .author-name:hover {
  border-bottom: 1px dashed white;
  padding-bottom: 0.4em;
}
footer .author .author-name:focus, footer .author .author-name:active {
  color: #00abdf;
}

/*# sourceMappingURL=style.css.map */
