header h1 {
  font-family: "Prata", serif;
}
@media only screen and (max-width : 424px) {
  header h1 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width : 500px) {
  header h1 {
    font-size: 2em;
  }
}
@media only screen and (min-width : 650px) {
  header h1 {
    font-size: 3.5em;
  }
}
@media only screen and (min-width : 1024px) {
  header h1 {
    font-size: 3.5em;
  }
}
@media only screen and (min-width : 1440px) {
  header h1 {
    font-size: 5.5em;
  }
}
header .nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1em;
}
@media only screen and (min-width : 1440px) {
  header .nav-link {
    font-size: 1.5em;
  }
}
header .and-sign {
  font-size: 200%;
  font-style: italic;
}

section .section-title {
  font-family: "Prata", serif;
  font-size: 3.5em;
}

#service .grid {
  text-align: center;
}
#service .grid i {
  font-size: 5.5em;
  font-style: normal;
}
#service .grid .service-info {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7em;
  font-weight: 600;
}

#jobs .text-wrap {
  font-family: "Open Sans", sans-serif;
}
#jobs .text-wrap .job-info {
  font-weight: 700;
  font-size: 1.5em;
}
#jobs .text-wrap .job-criteria {
  font-size: 1em;
}

body {
  margin: 0;
  width: 100%;
  background-color: white;
}

header {
  margin: 0 5% 0 5%;
  overflow: hidden;
}

section {
  padding: 1.5em 0 0 0;
}

a {
  text-decoration: none;
}

main {
  background-color: white;
}

header .nav-top ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 1.5em 0;
}
header .nav-top ul li {
  position: relative;
}
header .nav-top ul li .nav-logo {
  max-width: 18em;
  height: auto;
}
header .nav-top ul li a {
  color: #303030;
  max-width: 10em;
  transition: 0.4s all ease;
}
header .nav-top ul li a:hover {
  color: #00abdf;
}
header .intro {
  position: relative;
  width: 100%;
  height: 35em;
  background-image: url("vatten.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
}
header .intro .intro-wrap {
  position: relative;
  bottom: -17em;
  padding: 2em;
  margin-left: 4em;
}
header .intro .intro-wrap .h1-1 {
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 20px black;
}
header .intro .intro-wrap .h1-1 .and-sign {
  position: absolute;
  top: -0.22em;
  left: 3.45em;
  color: #00abdf;
}
header .intro .intro-wrap .h1-1 .h1-2 {
  position: absolute;
  top: 1em;
  left: 3.75em;
}

section {
  position: relative;
}
section .section-title {
  position: absolute;
  bottom: -0.8em;
  left: 0;
  color: #00abdf;
  z-index: 99;
  opacity: 0.4;
}

#service {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
#service .grid {
  margin: 3.5em;
  max-width: 13em;
}
#service .grid i {
  padding: 0.5em;
  color: #002a4d;
  background-color: #00abdf;
  border-radius: 50%;
}
#service .grid .service-info {
  padding-top: 1em;
}

#jobs {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background-image: linear-gradient(to right, #00abdf, #002a4d);
}
#jobs .job-img {
  width: 50%;
  height: 30em;
  background-image: url("welders.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}
#jobs .text-wrap {
  align-self: center;
  color: white;
  max-width: 40em;
  margin: 2em;
}

#about {
  background-color: red;
}

#contact {
  background-color: yellow;
}

/*# sourceMappingURL=style.css.map */
